In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error
import os

In [3]:
os.chdir("D:\\meridianthe4\\PML\\Cases\\Concrete_Strength")

In [8]:
concrete = pd.read_csv("Concrete_Data.csv")

In [9]:
concrete

,Cement,Blast,Fly,Water,Superplasticizer,Coarse,Fine,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [10]:
X, y = concrete.drop('Strength', axis=1), concrete['Strength']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [12]:
Ks = np.arange(1,16)
scores = []
for k in Ks:
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    scores.append([k,mean_absolute_error(y_test,y_pred)])
df_scores = pd.DataFrame(scores,columns=['k','score'])
df_scores.sort_values('score', ascending=True)

     k     score
1    2  6.544013
3    4  6.576254
0    1  6.672589
4    5  6.748608
2    3  6.762762
5    6  7.064218
7    8  7.115376
6    7  7.157513
8    9  7.287192
9   10  7.430460
10  11  7.566737
11  12  7.698937
12  13  7.860505
13  14  8.108731
14  15  8.245141

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler().set_output(transform="pandas")
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [15]:
Ks = np.arange(1,16)
scores = []
for k in Ks:
    knn = KNeighborsRegressor(n_neighbors=k)
    knn.fit(X_train_scaled,y_train)
    y_pred = knn.predict(X_test_scaled)
    scores.append([k,mean_absolute_error(y_test,y_pred)])
df_scores = pd.DataFrame(scores,columns=['k','score'])
df_scores.sort_values('score', ascending=True)

     k     score
1    2  6.457735
2    3  6.559687
0    1  6.561942
3    4  6.637338
4    5  6.652647
5    6  6.747913
6    7  6.800347
7    8  6.981869
8    9  7.083916
9   10  7.195628
10  11  7.320394
11  12  7.397362
12  13  7.495706
13  14  7.551526
14  15  7.642462