## Hyper-parameter Tuning

In [19]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import os

In [20]:
os.chdir("D:/meridianthe4/PML/Datasets")

In [21]:
boston = pd.read_csv("Boston.csv")
X = boston.drop('medv', axis=1)
y = boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []

for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_squared_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

    alpha      score
0   0.001  21.518121
1   0.010  21.524213
2   0.100  21.585116
3   1.000  22.044053
4   1.500  22.193243
5   2.500  22.377774
6   5.000  22.576180
7  10.000  22.695335

## Housing

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector

In [24]:
housing = pd.read_csv("Housing.csv")
X, y = housing.drop('price', axis=1), housing['price']

In [25]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform="pandas")
col_transformer = ColumnTransformer([("OHE", ohe, make_column_selector(dtype_include=object))], 
                                    remainder='passthrough', 
                                    verbose_feature_names_out=False)
col_transformer = col_transformer.set_output(transform="pandas")
X = col_transformer.fit_transform(X)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [27]:
alphas = [0.001, 0.01, 0.1, 1, 1.5, 2.5, 5, 10]
scores = []

for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_squared_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

    alpha         score
7  10.000  2.698408e+08
6   5.000  2.699933e+08
5   2.500  2.708745e+08
4   1.500  2.714688e+08
3   1.000  2.718333e+08
2   0.100  2.726245e+08
1   0.010  2.727144e+08
0   0.001  2.727235e+08

In [28]:
np.arange(0.001, 15, 0.5)

array([1.0000e-03, 5.0100e-01, 1.0010e+00, 1.5010e+00, 2.0010e+00,
       2.5010e+00, 3.0010e+00, 3.5010e+00, 4.0010e+00, 4.5010e+00,
       5.0010e+00, 5.5010e+00, 6.0010e+00, 6.5010e+00, 7.0010e+00,
       7.5010e+00, 8.0010e+00, 8.5010e+00, 9.0010e+00, 9.5010e+00,
       1.0001e+01, 1.0501e+01, 1.1001e+01, 1.1501e+01, 1.2001e+01,
       1.2501e+01, 1.3001e+01, 1.3501e+01, 1.4001e+01, 1.4501e+01])

In [29]:
np.linspace(0.001, 15, 20)

array([1.00000000e-03, 7.90421053e-01, 1.57984211e+00, 2.36926316e+00,
       3.15868421e+00, 3.94810526e+00, 4.73752632e+00, 5.52694737e+00,
       6.31636842e+00, 7.10578947e+00, 7.89521053e+00, 8.68463158e+00,
       9.47405263e+00, 1.02634737e+01, 1.10528947e+01, 1.18423158e+01,
       1.26317368e+01, 1.34211579e+01, 1.42105789e+01, 1.50000000e+01])

In [30]:
alphas = np.linspace(0.001, 15, 30)
scores = []

for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_squared_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

        alpha         score
15   7.759103  2.697123e+08
16   8.276310  2.697180e+08
14   7.241897  2.697229e+08
17   8.793517  2.697389e+08
13   6.724690  2.697512e+08
18   9.310724  2.697739e+08
12   6.207483  2.697987e+08
19   9.827931  2.698220e+08
11   5.690276  2.698668e+08
20  10.345138  2.698825e+08
21  10.862345  2.699545e+08
10   5.173069  2.699575e+08
22  11.379552  2.700372e+08
9    4.655862  2.700728e+08
23  11.896759  2.701300e+08
8    4.138655  2.702149e+08
24  12.413966  2.702323e+08
25  12.931172  2.703435e+08
7    3.621448  2.703865e+08
26  13.448379  2.704631e+08
6    3.104241  2.705905e+08
27  13.965586  2.705906e+08
28  14.482793  2.707256e+08
5    2.587034  2.708303e+08
29  15.000000  2.708677e+08
4    2.069828  2.711097e+08
3    1.552621  2.714332e+08
2    1.035414  2.718058e+08
1    0.518207  2.722336e+08
0    0.001000  2.727235e+08

## Exp Salary

In [31]:
sals = pd.read_csv("Exp_Salaries.csv")
X, y = sals.drop('Salary', axis=1), sals['Salary']

In [32]:
ohe = OneHotEncoder(drop='first', sparse_output=False).set_output(transform="pandas")
col_transformer = ColumnTransformer([("OHE", ohe, make_column_selector(dtype_include=object))], 
                                    remainder='passthrough', 
                                    verbose_feature_names_out=False)
col_transformer = col_transformer.set_output(transform="pandas")
X = col_transformer.fit_transform(X)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=25)

In [34]:
alphas = np.linspace(0.001, 15, 30)
scores = []

for a in alphas:
    ridge = Ridge(alpha=a)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append([a, mean_squared_error(y_test, y_pred)])
df_scores = pd.DataFrame(scores, columns=['alpha', 'score'])
df_scores.sort_values('score')

        alpha         score
0    0.001000  1.338401e+07
1    0.518207  1.457382e+07
2    1.035414  1.580470e+07
3    1.552621  1.685682e+07
4    2.069828  1.772990e+07
5    2.587034  1.845629e+07
6    3.104241  1.906725e+07
7    3.621448  1.958764e+07
8    4.138655  2.003641e+07
9    4.655862  2.042783e+07
10   5.173069  2.077276e+07
11   5.690276  2.107954e+07
12   6.207483  2.135464e+07
13   6.724690  2.160316e+07
14   7.241897  2.182916e+07
15   7.759103  2.203591e+07
16   8.276310  2.222606e+07
17   8.793517  2.240180e+07
18   9.310724  2.256493e+07
19   9.827931  2.271699e+07
20  10.345138  2.285923e+07
21  10.862345  2.299275e+07
22  11.379552  2.311847e+07
23  11.896759  2.323718e+07
24  12.413966  2.334958e+07
25  12.931172  2.345625e+07
26  13.448379  2.355772e+07
27  13.965586  2.365446e+07
28  14.482793  2.374686e+07
29  15.000000  2.383528e+07